* {
	box-sizing: border-box;
  }
  :root {
    --gridSize: 4;
    --posX: 1;
    --posY: 1;
    --size: 1;
    --color: yellow;
  }
  .wrapper {
    width: 100vw;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wrappercontrolsradio {
    width: 50vw;
    margin-top: 0px auto;
    display: flex;
  }
  .wrappercontrolsgroup {
    width: 50vw;
    margin: 0px auto;
    display: flex;
    }
  .controls {
    margin-left: 20px;
  }
  .controls__group {
    margin-bottom: 10px;
  }
  .controls__group > * {
    display: block;
  }
  .controls__rbtn {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--gridSize), 1fr);
    grid-template-rows: repeat(var(--gridSize), 1fr);
    grid-gap: 0px;
    border: 1px solid grey;
    width: 95vw;
    height: 95vw;
    margin: auto;
  }
  .grid__item {
    background-color: var(--color);
    grid-column: var(--posX) / span var(--size);
    grid-row: var(--posY) / span var(--size);
  }
  .grid__item:nth-child(2) {
    --color: red;
  }
  .grid__item:nth-child(3) {
    --color: green;
  }
  .grid__item:nth-child(4) {
    --color: blue;
  }
