body {
  background-color: #d5ffd5;
  padding: 8px 25%;
  text-align: center;
}

header {
  margin-bottom: 10px;
}

h1 {
    color:  green;
  }

  .square-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 0px;
  }
  
  .square {
    background: green;
    padding-top: 100%; /* padding trick directly on the grid item */
    box-sizing: border-box;
    position: relative;
  }
  
  .square .content { /* absolutely positioned */
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    bottom: 0;
  }

#container {
  margin: 0 auto;
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: repeat(26, 1fr);
}

#container div {
  justify-content: center;
  align-items: center;
  display: flex;
}

.red {
  background-color: green;
  color: red;
}

.green {
  background-color: red;
  color: green;
}
