body {
  background-color: #d5ffd5;
  padding: 8px 25%;
  text-align: center;
}

header {
  margin-bottom: 10px;
}

h1 {
    color:  green;
  }

  #square-container {
    display: grid;
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(2%, 1fr));
    grid-gap: 0px;
  }

  #square-container div {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 100%; /* padding trick directly on the grid item */
  }

.red {
  background-color: green;
  color: red;
}

.green {
  background-color: red;
  color: green;
}
